<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sistema Integrado de Segurança</title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/cad.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/font-awesome.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Configurando sistema para carregar jquery -->
    <script>
        window.$ = window.jQuery = require('../jquery-3.2.1.js');
    </script>
    <!-- JS do Bootstrap -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/windows.js"></script>
    <!-- Responsive web -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
</head>

<body>
    <div class="um">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
            <li class="disabled"><a href="#">Configurações</a></li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
            <i id="cat" class="fa fa-cog" onclick="a();"></i>

            <div class="icones">
                vazia
            </div>
        </ul>
    </div>
    <div class="dois">
        <i id="txt" class="fa fa-user-circle fa-3x">  Sistema de Cadastro - SG</i>
    </div>

    <div class="painel">
        <div class="nav">
            <button class="btn btn-default">visitante</button>
            <button class="btn btn-default">Motoristas</button>
            <button class="btn btn-default">Ajudantes</button>
            <button class="btn btn-default">Terceiros</button>
        </div>
        <div class="tbl">
            <table class="table table-hover info">
                <tr class="i">
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Opções</th>
                </tr>

                <tr v-for="produto in produtos">
                    <td>rafael</td>
                    <td>lapis</td>
                    <td>1</td>
                    <td>
                        <i class="fa fa-user" @click="editProduct(produto)">Editar</i>
                        <i class="fa fa-user" @click="editProduct(produto)">Editar</i>
                    </td>
                </tr>
                <tr v-for="produto in produtos">
                    <td>rafael</td>
                    <td>lapis</td>
                    <td>1</td>
                    <td>
                        <i class="fa fa-user" @click="editProduct(produto)">Editar</i>
                        <i class="fa fa-user" @click="editProduct(produto)">Editar</i>
                    </td>
                </tr>
                <tr v-for="produto in produtos">
                    <td>rafael</td>
                    <td>lapis</td>
                    <td>1</td>
                    <td>
                        <i class="fa fa-user" @click="editProduct(produto)">Editar</i>
                        <i class="fa fa-user" @click="editProduct(produto)">Editar</i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
    </div>
    <!-- Cadastrando novo Visitante -->
    <div id="modal" v-if="see">
        <div class="wrap">
            <h1>OOOOOOOO</h1>
        </div>
    </div>
</body>

<script>
window.Vue = require('Vue');


</script>

</html>