<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sistema Integrado de Segurança</title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/cad.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Configurando sistema para carregar jquery -->
    <script>
        window.$ = window.jQuery = require('./jquery-3.2.1.js');
    </script>
    <!-- JS do Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/windows.js"></script>
    <!-- Responsive web -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
</head>

<body>
    <form class="um">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Veículos da Empresa</a></li>
            <li><a href="#">Visitantes</a></li>
            <li class="disabled"><a href="#">Configurações</a></li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>

            <i id="cat" class="fa fa-cog"></i>
            <div class="icones">
                <form class="icones" method="POST">
                    Usuário
                    <input type="text" name="user"> Senha
                    <input type="text" name="senha"> Nome do banco de dados
                    <input type="text" name="database">
                    <input type="submit" value="Enviar" onclick="enviar();">
                </form>
            </div>
        </ul>
    </form>


    <div class="painel">
        <div class="nav">
            <button class="btn btn-default">
                <i class="fa fa-plus"></i>
                Visitante
            </button>
            <button @click="editClient()" type="button" class="btn btn-default">
                <i class="fa fa-plus"></i>
                Motoristas
            </button>

            <button class="btn btn-default">
                <i class="fa fa-plus"></i>
                Ajudantes
            </button>
            <button class="btn btn-default">
                <i class="fa fa-plus"></i>
                Terceiros
            </button>
        </div>

        <div class="tbl">
            <table class="table table-hover">
                <thead>
                    <tr class="i">
                        <th class="text-center">Código</th>
                        <th class="text-center">Cavalo</th>
                        <th class="text-center">Carreta</th>
                        <th class="text-center">Col/Ter</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Entrada</th>
                        <th class="text-center">Como</th>
                        <th class="text-center">Saída</th>
                        <th class="text-center">Como</th>
                        <th class="text-center">Lacre/RG</th>
                        <th class="text-center">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="cad in motoristas">
                        <th class="text-center">{{cad.id}}</th>
                        <th class="text-center">{{cad.cavalo}}</th>
                        <th class="text-center">{{cad.carreta}}</th>
                        <th class="text-center">{{cad.tipo}}</th>
                        <th class="text-center">{{cad.nome}}</th>
                        <th class="text-center">{{cad.entrada}}</th>
                        <th class="text-center">{{cad.como}}</th>
                        <th class="text-center">{{cad.saida}}</th>
                        <th class="text-center">{{cad.comos}}</th>
                        <th class="text-center">{{cad.lacre}}</th>
                        <th class="text-center">Opções</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- Cadastrando novo MOTORISTA -->
    <div id="modal" v-if="openModal">
        <div class="wrap">
            <form>
                <input type="text" v-model="motorista.cavalo" placeholder="Placa do Cavalo">
                <input type="text" v-model="motorista.carreta" placeholder="Placa da Carreta">
                <input type="text" v-model="motorista.tipo" placeholder="Terceiro ou Carregado">
                <input type="text" v-model="motorista.nome" placeholder="Nome do Motorista">
                <input type="date" v-model="motorista.entrada">
                <input type="text" v-model="motorista.modo" placeholder="Carregado ou Vázio">
                <input type="data" v-model="motorista.saida">
                <input type="text" v-model="motorista.comos" placeholder="Carregado ou Vázio">
                <input type="text" v-model="motorista.lacre" placeholder="Rg ou Lacre do veículo">

                <button type="submit" class="btn btn-large btn-positive" @click="createMotorista()">Salvar</button>
                <button class="btn btn-large btn-negative" @click="createMotorista = false">Fechar</button>
            </form>
        </div>
    </div>
    
</body>
<script>
window.Vue = require('vue');
let mysql = require('mysql');

let conexao = mysql.createConnection({
    host: "localhost",
    user: "root",
    password: "q1w2e3r4",
    database: "sisseguranca"
});

new Vue({
    el: 'body',
    data: {
        lista: [],
        motoristas: {
            id:'',
            cavalho:'',
            carreta:'',
            tipo:'',
            nome: '',
            entrada:'',
            modo:'',
            saida:'',
            modos:'',
            lacre:''           
        },
        openModal: false
    },
    ready: function () {
        //conecta-se ao banco de dados
        conexao.connect((err, result) => {
            if (err) {
                throw err
                console.log("Erro ao conectar");
            }
            console.log("CONECTADO COM SUCESSO AO MYSQL");

            conexao.query("SELECT * FROM dados", (err, bb) => {
                if (err) {
                    throw err;
                }
                bb.forEach((e) => {
                    JSON.stringify(e);
                    console.log(JSON.stringify(e));
                });
                this.lista = bb;
            });
        });
    },
    methods: {
        createMotorista:function () {
            this.openMotor = true;
            conexao.query('INSERT INTO dados SET ?', this.visit, (err, result) => {
                if (err) {
                    console.log(err);
                }
            });
        }
    }
});
</script>

</html>