<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sistema Integrado de Segurança</title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/cad.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Configurando sistema para carregar jquery -->
    <script>
        window.$ = window.jQuery = require('./jquery-3.2.1.js');
    </script>
    <!-- JS do Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/windows.js"></script>
    <!-- Responsive web -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
</head>

<body>
    <form class="um">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Veículos da Empresa</a></li>
            <li><a href="#">Visitantes</a></li>
            <li class="disabled"><a href="#">Configurações</a></li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>

            <i id="cat" class="fa fa-cog"></i>
            <div class="icones">
                <form class="icones" method="POST">
                    Usuário
                    <input type="text" name="user"> Senha
                    <input type="text" name="senha"> Nome do banco de dados
                    <input type="text" name="database">
                    <input type="submit" value="Enviar" onclick="enviar();">
                </form>
            </div>
        </ul>
    </form>

    <!--
    <div class="dois">
        <i id="txt" class="fa fa-user-circle fa-3x">Sistema de Cadastro - SG</i>
    </div>
    -->
    <!-- Visitante -->
    <div id="" v-if="visitante">
        <h1>visitante</h1>
    </div>
    <!-- Motorista -->
    <div id="" v-if="motorista">
        <h1>motorista</h1>
    </div>
    <!-- Ajudante -->
    <div id="" v-if="ajudante">
        <h1>ajudante</h1>
    </div>
    <!-- Terceiro -->
    <div id="" v-if="terceiro">
        <h1>terceiro</h1>
    </div>

    <div class="painel">
        <div class="nav">
            <button class="btn btn-default">
                <i class="fa fa-plus"></i>
                Visitante
            </button>
            <button class="btn btn-default">
                <i class="fa fa-plus"></i>
                Motoristas
            </button>
            <button class="btn btn-default">
                <i class="fa fa-plus"></i>
                Ajudantes
            </button>
            <button class="btn btn-default">
                <i class="fa fa-plus"></i>
                Terceiros
            </button>
        </div>

        <div class="tbl">
            <table class="table table-hover">
                <thead>
                    <tr class="i">
                        <th class="text-center">Cavalo</th>
                        <th class="text-center">Carreta</th>
                        <th class="text-center">Col/Ter</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Entrada</th>
                        <th class="text-center">Como</th>
                        <th class="text-center">Saída</th>
                        <th class="text-center">Como</th>
                        <th class="text-center">Lacre/RG</th>
                        <th class="text-center">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center">{{}}</th>
                        <th class="text-center">{{}}</th>
                        <th class="text-center">TR</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Entrada</th>
                       <th class="text-center">Como</th>
                        <th class="text-center">Saída</th>
                        <th class="text-center">Como</th>
                        <th class="text-center">Lacre/RG</th>
                        <th class="text-center">Opções</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
    </div>
    <!-- Cadastrando novo Visitante -->
    <div id="modal" v-if="openVisitante">
        <div class="wrap">
            <h1>Visitante</h1>
        </div>
    </div>
    <!-- Cadastrando novo MOTORISTA -->
    <div id="modal" v-if="openMotor">
        <div class="wrap">
            <h1>Motoristas</h1>
        </div>
        <div class="tbl">
            <table class="table table-hover">
                <thead>
                    <tr class="i">
                        <th class="text-center">Cavalo</th>
                        <th class="text-center">Carreta</th>
                        <th class="text-center">Col/Ter</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Entrada</th>
                        <th class="text-center">Como</th>
                        <th class="text-center">Saída</th>
                        <th class="text-center">Como</th>
                        <th class="text-center">Lacre/RG</th>
                        <th class="text-center">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center">{{}}</th>
                        <th class="text-center">{{}}</th>
                        <th class="text-center">TR</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Entrada</th>
                       <th class="text-center">Como</th>
                        <th class="text-center">Saída</th>
                        <th class="text-center">Como</th>
                        <th class="text-center">Lacre/RG</th>
                        <th class="text-center">Opções</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Cadastrando novo AJUDANTE -->
    <div id="modal" v-if="openAjudante">
        <div class="wrap">
            <h1>Ajudante</h1>
        </div>
    </div>
    <!-- Cadastrando novo TERCEIRO -->
    <div id="modal" v-if="openTerceiro">
        <div class="wrap">
            <h1>Terceiros</h1>
        </div>
    </div>
</body>
<script>
    require('./db.js')
</script>

</html>