<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sistema Integrado de Segurança</title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/cad.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Configurando sistema para carregar jquery -->
    <script>
        window.$ = window.jQuery = require('./jquery-3.2.1.js');
    </script>
    <!-- JS do Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/windows.js"></script>
    <!-- Responsive web -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
</head>

<body>
    <form class="um">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Veículos da Empresa</a></li>
            <li><a href="#">Visitantes</a></li>
            <li class="disabled"><a href="#">Configurações</a></li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>

            <i id="cat" class="fa fa-cog"></i>
            <div class="icones">
                <form class="icones" method="POST">
                    Usuário
                    <input type="text" name="user"> Senha
                    <input type="text" name="senha"> Nome do banco de dados
                    <input type="text" name="database">
                    <input type="submit" value="Enviar" onclick="enviar();">
                </form>
            </div>
        </ul>
    </form>


    <div class="painel">
        <div class="nav">
            <button class="btn btn-default">
                <i class="fa fa-plus"></i>
                Visitante
            </button>
            <button @click="openModal()" type="button" class="btn btn-default">
                <i class="fa fa-plus"></i>
                Motoristas
            </button>

            <button class="btn btn-default">
                <i class="fa fa-plus"></i>
                Ajudantes
            </button>
            <button class="btn btn-default">
                <i class="fa fa-plus"></i>
                Terceiros
            </button>
        </div>

        <div class="tbl">
            <table class="table table-hover">
                <thead>
                    <tr class="i">
                        <th class="text-center">Código</th>
                        <th class="text-center">Cavalo</th>
                        <th class="text-center">Carreta</th>
                        <th class="text-center">Col/Ter</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Entrada</th>
                        <th class="text-center">Como</th>
                        <th class="text-center">Saída</th>
                        <th class="text-center">Como</th>
                        <th class="text-center">Lacre/RG</th>
                        <th class="text-center">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="l in lista">
                        <th class="text-center">{{l.id}}</th>
                        <th class="text-center">{{l.cavalo}}</th>
                        <th class="text-center">{{l.carreta}}</th>
                        <th class="text-center">{{l.tipo}}</th>
                        <th class="text-center">{{l.nome}}</th>
                        <th class="text-center">{{l.entrada}}</th>
                        <th class="text-center">{{l.como}}</th>
                        <th class="text-center">{{l.saida}}</th>
                        <th class="text-center">{{l.comos}}</th>
                        <th class="text-center">{{l.lacre}}</th>
                        <th class="text-center">
                            <input type="button" class="fa fa-user" value="X" @click="delMotor(l)">
                            <button class="fa fa-pencil" @click="editarMotor(l)"></button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Cadastrando novo MOTORISTA -->
    <div id="modal" v-if="openMotor">
        <div class="wrap">
            <form id="ff" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input class="form-control" type="text" v-model="motoristas.cavalo" placeholder="Placa do Cavalo">
                        <input class="form-control" type="text" v-model="motoristas.carreta" placeholder="Placa da Carreta">
                        <input class="form-control" type="text" v-model="motoristas.tipo" placeholder="Terceiro ou Carregado">
                        <input class="form-control" type="text" v-model="motoristas.nome" placeholder="Nome do Motorista">
                        <input class="form-control" type="date" v-model="motoristas.entrada">
                        <input class="form-control" type="text" v-model="motoristas.modo" placeholder="Carregado ou Vázio">
                        <input class="form-control" type="date" v-model="motoristas.saida">
                        <input class="form-control" type="text" v-model="motoristas.modos" placeholder="Carregado ou Vázio">
                        <input class="form-control" type="text" v-model="motoristas.lacre" placeholder="Rg ou Lacre do veículo">
                    </div>
                </div>
                <button type="submit" class="btn btn-large btn-positive" @click="createMotorista">Salvar</button>
                <button type="button" class="btn btn-large btn-negative" @click="openMotor = false">Fechar</button>
            </form>
        </div>
    </div>

</body>
<script>
    require('./renderer')
</script>

</html>