<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Loja Electron</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/photon.css">
  <link rel="stylesheet" href="css/estilo.css">

  <!-- Electron Javascript -->
  <!-- <script src="app.js" charset="utf-8"></script> -->
</head>

<body>
  <div class="window">
    <!--HEADER -->
    <header class="toolbar toolbar-header">
      <h1 class="title">Loja</h1>
      <div class="toolbar-actions">
        <div class="btn-group">
          <button class="btn btn-default">
        <span class="icon icon-home"></span>
      </button>
          <button class="btn btn-default">
        <span class="icon icon-folder"></span>
      </button>
          <button class="btn btn-default active">
        <span class="icon icon-cloud"></span>
      </button>
          <button class="btn btn-default">
        <span class="icon icon-popup"></span>
      </button>
          <button class="btn btn-default">
        <span class="icon icon-shuffle"></span>
      </button>
        </div>

    <button class="btn btn-default">
    <span class="icon icon-home icon-text"></span>
      Filters
    </button>

       <button class="btn btn-default btn-dropdown pull-right">
      <span class="icon icon-megaphone"></span>
    </button>
      </div>
    </header>


    <div class="window-content">
      <div class="pane-group">
        <div class="pane-sm sidebar">Teste de preenchimento de campo</div>
        <div class="pane">
          <!-- tabela-->
          <button class="btn btn-primary" @click="createClient()">Cadastrar</button>
          
          <a href="index.html" class="btn btn-primary" style="text-decoration: none;">Cliente</a>
          <a href="produtos.html" class="btn btn-primary" style="text-decoration: none;">Produtos</a>
          <a href="vendas.html" class="btn btn-primary" style="text-decoration: none;">Vendas</a>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>NOME</th>
                <th>CPF</th>
                <th>TELEFONE</th>
                <th>OPÇÕES</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="cliente in clientes">
                <td>{{cliente.nome}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.telefone}}</td>
                <td>
                 <button class="btn btn-primary" @click="editClient(cliente)">Editar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- FOOTER-->
    <footer class="toolbar toolbar-footer">
      <h1 class="title">Desenvolvido por Rafael Carvalho</h1>
    </footer>
  </div>
  <div id="modal" v-if="openModal">
    <div class="wrap">
       <form id="cadastro" action="" class="pane-body">
            <h3 v-if="mode=='cadastro'">
              Cadastro de Clientes
            </h3>
            <h3 v-if="mode=='edicao'">
              Edição de Clientes 
            </h3>

            <div class="form-group">
              <input id="nome" type="text" v-model="client.nome" class="form-control" placeholder="Nome">
            </div>
            <div class="form-group">
              <input id="cpf" type="text" v-model="client.cpf" class="form-control" placeholder="CPF">
            </div>
            <div class="form-group">
              <input id="telefone" type="text" v-model="client.telefone" class="form-control" placeholder="TELEFONE">
            </div>

            <button class="btn btn-large btn-positive" @click="clientStoreOrUpdate">Salvar</button>
            <button class="btn btn-large btn-negative" @click="openModal = false">Fechar</button>
          </form>
    </div>
  </div>
</body>
<script>
  
  var read = require('read-file-utf8');
  var loki = require('lokijs');
  var db = new loki('db.json');
  var data = read(__dirname+'/db.json');

  db.loadJSON(data);
  window.Vue =require('vue');
  //var clientes = db.addCollection('children');
  var clientes = db.getCollection('children');
  //db.save();

  console.log(db);
  //Configurando sistema com VUE.JS
  new Vue({
      el: 'body', //recebe o conteúdo do body
      data: {
         clientes:[],
         mode:'',
         client:{
           nome:'',
           cpf:'',
           telefone:''
         },
         openModal: false
      },
      ready: function (){ //função responsável por exibir as infos
         this.clientes = clientes.data;
         console.log(this.clientes);
      },
      methods:{// metodos que conterá funções
        editClient:function(client){
          this.mode = 'edicao'; //possui um if se for edição ou cadastro
          this.openModal = true; //tira a tela de cadastro
          this.client = client;
        },
        createClient:function(){ //func responsavel pelo cadastro
          this.mode = 'cadastro';
          this.openModal = true;
          this.client={
            nome:'',
            cpf:'',
            telefone:''
          };
        },
        
        clientStoreOrUpdate:function(){
          if(typeof this.client.$loki != 'undefined'){
            clientes.update(this.client);
          }else{
            clientes.insert(this.client);
          }
          db.save();
          this.openModal = false;
        }
      }
   })
</script>

</html>