<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Loja Electron</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/photon.css">
  <link rel="stylesheet" href="css/estilo.css">

  <!-- Electron Javascript -->
  <!-- <script src="app.js" charset="utf-8"></script> -->
</head>

<body>
  <div class="window">
    <!--HEADER -->
    <header class="toolbar toolbar-header">
      <h1 class="title">Loja</h1>
      <div class="toolbar-actions">
        <div class="btn-group">
          <button class="btn btn-default">
        <span class="icon icon-home"></span>
      </button>
          <button class="btn btn-default">
        <span class="icon icon-folder"></span>
      </button>
          <button class="btn btn-default active">
        <span class="icon icon-cloud"></span>
      </button>
          <button class="btn btn-default">
        <span class="icon icon-popup"></span>
      </button>
          <button class="btn btn-default">
        <span class="icon icon-shuffle"></span>
      </button>
        </div>

    <button class="btn btn-default">
    <span class="icon icon-home icon-text"></span>
      Filters
    </button>

       <button class="btn btn-default btn-dropdown pull-right">
      <span class="icon icon-megaphone"></span>
    </button>
      </div>
    </header>


    <div class="window-content">
      <div class="pane-group">
        <div class="pane-sm sidebar">Teste de preenchimento de campo</div>
        <div class="pane">
          <!-- tabela-->
         
          <button type="button" class="btn btn-primary" @click="createSale()">
            Cadastro de Produtos
          </button>
          <a href="index.html" class="btn btn-primary" style="text-decoration: none;">Cliente</a>
          <a href="produtos.html" class="btn btn-primary" style="text-decoration: none;">Produtos</a>
          <a href="vendas.html" class="btn btn-primary" style="text-decoration: none;">Vendas</a>
          <!-- 
          <button class="btn btn-primary" @click="createClient()">Produtos</button>
          -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Preço Unitário</th>
                <th>Quantidade</th>
                <th>Total</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="venda in vendas">
                <td>{{venda.cliente}}</td>
                <td>{{venda.produto}}</td>
                <td>{{venda.preco}}</td>
                <td>{{venda.qtd}}</td>
                <td>{{venda.qtd * venda.preco}}</td>
                <td>
                 <button class="btn btn-primary" @click="editSale(venda)">Editar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- FOOTER-->
    <footer class="toolbar toolbar-footer">
      <h1 class="title">Desenvolvido por Rafael Carvalho</h1>
    </footer>
  </div>
  <div id="modal" v-if="openModal">
    <div class="wrap">
       <form id="cadastro" action="" class="pane-body">
            <h3 v-if="mode=='cadastro'">
              Cadastro de Vendas
            </h3>
            <h3 v-if="mode=='edicao'">
              Edição de Vendas 
            </h3>

            <div class="form-group">
              <select v-model="sale.cliente" class="form-control">
                <option value="{{c.nome}}" v-for="c in clientes">{{c.nome}}</option>
              </select>
            </div>
            <div class="form-group">
              <select v-model="sale.produto" class="form-control">
                <option value="{{p.nome}}" v-for="p in produtos">{{p.nome}}</option>
              </select>
            </div>
             <div class="form-group" v-if="mode=='edicao'">
              <input type="text" id="preco" type="text" v-model="sale.preco" class="form-control" placeholder="Preço">
            </div>
            <div class="form-group">
              <input id="qtd" type="text" v-model="sale.qtd" class="form-control" placeholder="Quantidade">
            </div>

            <button type="button" class="btn btn-large btn-positive" @click="saleStoreOrUpdate">
              Salvar
            </button>
            <button type="button" class="btn btn-large btn-negative" @click="openModal = false">
              Fechar
            </button>
          </form>
    </div>
  </div>
</body>
<script>
  var read = require('read-file-utf8')
  var loki = require('lokijs');
  var db = new loki('db.json')
  var data = read(__dirname+'/db.json');
  db.loadJSON(data);
  window.Vue =require('vue');
  //var vendas = db.addCollection('vendas');
  var vendas = db.getCollection('vendas'); //adicionando itens de vendas
  var clientes = db.getCollection('children'); //adicionando itens de clientes
  var produtos = db.getCollection('produto'); //adiciona os itens contido dentro de produtos a var produtos
  //db.save();

  console.log(db);
  //Configurando sistema com VUE.JS
  new Vue({
    el: 'body', //recebe o conteúdo do body
    data: {
    modal:'',
    openModal: false,
    vendas:[],
    clientes:[],
    produtos:[],
    sale:{
      cliente:'',
      produto:'',
      preco:0,
      qtd:1
    }
  },
    ready:function(){
    this.vendas = vendas.data;
    this.clientes = clientes.data;
    this.produtos = produtos.data;
    console.log(this.vendas, this.clientes, this.produtos);
  },
  methods:{// metodos que conterá funções
    editSale:function(sale){
    this.mode = 'edicao'; //possui um if se for edição ou cadastro
    this.openModal = true; //tira a tela de cadastro
    this.sale = sale;
  },
    createSale:function(){ //func responsavel pelo cadastro
    this.mode = 'cadastro';
    this.openModal = true;
    this.sale={
      cliente:'',
      produto:'',
      preco:0,
      qtd:1
    };
  },
    saleStoreOrUpdate:function(){
      if(typeof this.sale.$loki != 'undefined'){
        vendas.update(this.sale);
      }else{
        //console.log(produtos.find({ nome:this.sale.produto })[0].preco);
        this.sale.preco =produtos.find({nome: this.sale.produto})[0].preco;
        vendas.insert(this.sale);
      }
      db.save();
      this.openModal = false;
      }
    }
  })
</script>

</html>