<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="stylesheet" href="estilo.css">
  <meta charset="utf-8">
  <title>PRINCIPAL</title>
  <script>
    window.$ = window.jQuery = require('./jquery-3.2.1.js');
  </script>

  <!-- Stylesheets 
    <link rel="stylesheet" href="css/photon.css">
-->
  <!-- Electron Javascript -->
  <!-- <script src="app.js" charset="utf-8"></script> -->
</head>

<body>
  <form id="form" method="POST">
    <p>Nome <br>
      <input id="nome" name="nome" v-model="visit.nome" type="text">
    </p>
    <p>Empresa<br>
      <input id="empresa" name="empresa" v-model="visit.empresa" type="text"></p>
    <p>RG<br>
      <input id="rg" name="rg" v-model="visit.rg" type="text"></p>
    <p>Data<br>
      <input id="data" name="data" v-model="visit.data" type="date"></p>
    <br/>
    <input type="submit" value="Teste de conexão" @click="createVisitante" />
  </form>

  <div class="form-group">
    <table class="tabela">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Empresa</th>
          <th>RG</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>

        <tr v-for="l in lista">
          <td>{{l.id}}</td>
          <td>{{l.nome}}</td>
          <td>{{l.empresa}}</td>
          <td>{{l.rg}}</td>
          <td>{{l.data}}</td>
        </tr>

      </tbody>
    </table>
  </div>


</body>
<script>
  window.Vue = require('vue');
  let mysql = require('mysql');

  let conexao = mysql.createConnection({
    host: "localhost",
    user: "root",
    password: "q1w2e3r4",
    database: "portaria"
  });
  new Vue({
    el: 'body',
    data: {
      lista: [],
      tela: '',
      visit: {
        nome: '',
        empresa: '',
        rg: '',
        data: ''
      }
    },
    ready: function () {
      //conecta-se ao banco de dados
      conexao.connect((err, result) => {
        if (err) {
          throw err
          console.log("Erro ao conectar");
        }
        console.log("CONECTADO COM SUCESSO AO MYSQL");

        conexao.query("SELECT id, nome, empresa, rg, data FROM cadastro", (err, bb) => {
          if (err) {
            throw err;
          }
          bb.forEach((e) => {
            JSON.stringify(e);
            console.log(JSON.stringify(e));
          });
          this.lista = bb;
        });
      });
    },
    methods: {
      createVisitante: function () {
        var info = {
          nome: $("#nome").val(),
          empresa: $("#empresa").val(),
          rg: $("#rg").val(),
          data: $("#data").val(),
        };
        conexao.query('INSERT INTO cadastro SET ?', info, (err, result) => {
          if (err) {
            console.log(err);
          }
          this.visit = {
            nome: '',
            empresa: '',
            rg: '',
            data: ''
          }

        });
      }



    }
  });

</script>
<!--
<script>

//inserindo dados com sucesso
function enviar(){

 var info = {
   nome:$("#nome").val(),
   empresa:$("#empresa").val(),
   rg:$("#rg").val(),
   data:$("#data").val()
 };

var query = conectar.query('insert into cadastro set ?', info, function(err, result){
      if(err){
        console.log(err);
      }else{
        console.log("secesso");
      }
      console.log(query.sql);
 });
conectar.end();
}

  let clientes = inserir;

  new Vue({
    el: 'body', //recebe o conteúdo do body
      data: {
         clientes:[],
         mode:'',
         client:{
           nome:'',
           cpf:'',
           telefone:''
         }
})
*/

</script>
-->

</html>